.idea/ComputerSecurity2017Spring.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
document/.texpadtmp/Final Project.aux
document/.texpadtmp/Final Project.log
document/.texpadtmp/Final Project.synctex.gz
